.box1 {
    background-color: skyblue;
    height: 450px;
    width: 550px;
    margin:auto;
}

.box2 {
    color: green;
    height: 150px;
    width: 450px;
    margin:auto;
}

.box3 {
    background-color: rgb(234,192,11);
    height: 540px;
    width: 430px;
    margin: auto;
}

.highlight {
    background-color:blue ;
    font-size: 30px;
}


h1 {
    color:aquamarine;
    font-style: italic;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2{
    color: darkcyan;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
}

p {
    color:darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
